# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*

# Build output
dist/
dist-ssr/
.output/
.vinxi/
.nitro/

# TanStack
.tanstack/**

# Env / secrets
*.local
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Claude Code internal
.claude/
